In [1]:
import pandas as pd

In [12]:
name_basics_path = "D:\\Projo\\Projet-Data-IA\\BDD_creuse\\name.basics.tsv"
df = pd.read_csv(name_basics_path, sep='\t')
df = df.drop(columns=['birthYear', 'deathYear', 'knownForTitles'])
# df.head(50)
# Occurences des noms des acteurs
actors_names = df['primaryName'].value_counts()
# Affichage des 10 premiers et 10 derniers
print(actors_names.head(10))
print(actors_names.tail(10))

primaryName
Alex               482
Michael Smith      432
Chris              419
Michael            418
David Smith        418
David              413
Mike               380
John               377
Michael Johnson    357
Chris Smith        353
Name: count, dtype: int64
primaryName
Stuart Shanks       1
Omoshola Oburoh     1
Adeyeye Emmanuel    1
Samira Ramal        1
Calista Nwadike     1
Success Effiom      1
Nifemi Ekezie       1
Pelumi Matthew      1
Mark Shimm          1
Aayush Nair         1
Name: count, dtype: int64