In [2]:
import pandas as pd

In [3]:
title_principals_path = "D:\\Projo\\Projet-Data-IA\\BDD_creuse\\title.principals.tsv"
df_title_principals = pd.read_csv(title_principals_path, sep='\t')

df_title_principals['characters'] = df_nameBasics['characters'].replace('\\N', pd.NA)
df_title_principals['job'] = df_nameBasics['job'].replace('\\N', pd.NA)

,tconst,ordering,nconst,category,job,characters
0,tt0000001,1,nm1588970,self,\N,"[""Self""]"
1,tt0000001,2,nm0005690,director,\N,\N
2,tt0000001,3,nm0005690,producer,producer,\N
3,tt0000001,4,nm0374658,cinematographer,director of photography,\N
4,tt0000002,1,nm0721526,director,\N,\N