# Title Principals

**Phase 1:** Nettoyage

**Gestion des valeurs manquantes :**
Identifier les valeurs manquantes dans les colonnes clés.
Déterminer si les valeurs manquantes peuvent être remplacées par des valeurs par défaut, interpolées à partir d'autres données ou si elles doivent être supprimées.

**Nettoyage des doublons :**
Identifier et supprimer les entrées en double, conserver l'entrée la plus pertinente ou la plus récente en fonction des critères de sélection.

**Validation des données :**
Vérifier la cohérence des données.
Examiner les champs tels que les durées des films, les budgets, les notes des utilisateurs, etc., pour détecter les valeurs aberrantes ou incohérentes.

**Normalisation des données :**
Harmoniser les valeurs des champs tels que les noms des genres, les noms des réalisateurs, etc., pour éviter les variations et les erreurs orthographiques.

**Gestion des formats de données :**
Convertir les données dans des formats appropriés, par exemple en convertissant les dates en objets de date/heure, en normalisant les noms de fichiers d'images, etc.

**Traitement des données textuelles :**
Prétraiter les données textuelles comme les descriptions de films, les critiques, etc., en supprimant la ponctuation, en normalisant la casse, en supprimant les mots vides, etc., pour faciliter l'analyse de texte.

**Gestion des données non structurées :**
Utiliser des techniques d'apprentissage automatique pour extraire des informations pertinentes et les intégrer dans votre analyse.

**Sécurité des données :**
Respecter les réglementations en matière de confidentialité des données, notamment en anonymisant les données personnelles des utilisateurs si nécessaire.

In [8]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [9]:
movies_title_principals = "D:\\Projo\\Projet-Data-IA\\title_principals\\movies_title_principals.csv"  
movies_title_principals = pd.read_csv(movies_title_principals, sep=',', na_values='\\N')

In [10]:
# Forme du dataframe
movies_title_principals.shape

(7796028, 6)

In [11]:
movies_title_principals.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7796028 entries, 0 to 7796027
Data columns (total 6 columns):
 #   Column      Dtype
---  ------      -----
 0   tconst      object
 1   ordering    int64
 2   nconst      object
 3   category    object
 4   job         object
 5   characters  object
dtypes: int64(1), object(5)
memory usage: 356.9+ MB

In [12]:
movies_title_principals.describe()

           ordering
count  7.796028e+06
mean   8.218573e+00
std    5.445857e+00
min    1.000000e+00
25%    4.000000e+00
50%    7.000000e+00
75%    1.200000e+01
max    5.700000e+01

In [13]:
# Proportion (%) de valeurs nulle
movies_title_principals.isna().sum() / movies_title_principals.shape[0] * 100

tconst         0.000000
ordering       0.000000
nconst         0.000000
category       0.000000
job           80.989037
characters    60.301541
dtype: float64

In [14]:
movies_title_principals.dtypes

tconst        object
ordering       int64
nconst        object
category      object
job           object
characters    object
dtype: object

In [15]:
# Supprimer les deux premiers caractères de chaque valeur dans la colonne nconst
movies_title_principals['nconst'] = movies_title_principals['nconst'].str[2:]

# Convertir la colonne nconst en int64
movies_title_principals['nconst'] = movies_title_principals['nconst'].astype('int32')

# Supprimer les deux premiers caractères de chaque valeur dans la colonne nconst
movies_title_principals['tconst'] = movies_title_principals['tconst'].str[2:]

# Convertir la colonne nconst en int64
movies_title_principals['tconst'] = movies_title_principals['tconst'].astype('int16')

,tconst,ordering,nconst,category,job,characters
0,9,1,63086,actress,NaN,"[""Miss Geraldine Holbrook (Miss Jerry)""]"
1,9,2,183823,actor,NaN,"[""Mr. Hamilton""]"
2,9,3,1309758,actor,NaN,"[""Chauncey Depew - the Director of the New Yor..."
3,9,4,85156,director,NaN,NaN
4,9,5,85156,writer,NaN,NaN

In [16]:
# Suppression des colonnes 
movies_title_principals.drop(columns=['job', 'characters'], axis=1, inplace=True)

In [17]:
movies_title_principals.head()

   tconst  ordering   nconst  category
0       9         1    63086   actress
1       9         2   183823     actor
2       9         3  1309758     actor
3       9         4    85156  director
4       9         5    85156    writer

In [18]:
movies_title_principals.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7796028 entries, 0 to 7796027
Data columns (total 4 columns):
 #   Column    Dtype
---  ------    -----
 0   tconst    int16
 1   ordering  int64
 2   nconst    int32
 3   category  object
dtypes: int16(1), int32(1), int64(1), object(1)
memory usage: 163.6+ MB